* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

a {
  color: #000000;
  text-decoration: none;
}

/* DIVISORIA */

nav {
  background-color: #ffeee8;
  display: flex;
  justify-content: space-between;
}

.logo-lou {
  margin: 2rem 16.25rem;
  height: 2rem;
}

.list-menu {
  margin: 2rem 16.25rem;
  height: 2rem;
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  place-items: center;
}

/* DIVISORIA */

main {
  background-color: #ffeee8;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

main div h1 span {
  color: #a95d42;
}

.main-left {
  display: inline-block;
}

.main-left h1 {
  font-size: 3.75rem;
  line-height: 1.1;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 16.25rem;
}

.main-left p {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 16.25rem;
}

.main-left a img {
  vertical-align: middle;
  margin-right: 0.5rem;
  fill: #fff;
  color: #fff;
}

.main-left a {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 16.25rem;
  display: inline-block;
  background-color: #a95d42;
  padding: 1rem 2rem;
  color: #fff;
}

.personal-description {
  width: 35rem;
}

.div-image-top {
  overflow: visible;
  height: 37.5rem;
}

.image-top {
  width: 35rem;
  height: auto;
  max-width: 100%;
  margin-right: 16.25rem;
  border-radius: 0.4rem;
}

/* DIVISORIA */

.title-section {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 16.25rem;
}

.period-section {
  color: #a95d42;
}

.sections-links-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 16.25rem;
  margin-right: 16.25rem;
  gap: 2.5rem;
}

.child-portfolio {
  width: calc((33.33% - 2 * 2.5rem) - 2rem);
}

/* DIVISORIA */
.contact-sections {
  background-color: #ffeee8;
  padding-bottom: 5rem;
}

.contact-sections h2 {
  padding-top: 5rem;
}

.contacts-div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16.25rem;
  align-items: center;
  gap: 1rem;
}

.contacts-div a {
  flex-basis: calc(35% - 10px);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* DIVISORIA */

footer {
  background: #a95d42;
}

footer p {
  margin-left: 16.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
